{% extends 'products/layout.html' %}
{% block active_catalog %}active fw-bold text-dark{% endblock %}


{% block content %}
<h1>Курси</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for course in courses %}
  <div class="col">
    <div class="card h-100 position-relative">
      <img class="card-img-top" src="{{ course.image }}" alt="{{ course.title }}">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'course_detail' course.id %}" class="text-decoration-none text-dark stretched-link">
            {{ course.title }}
          </a>
        </h5>
        <p class="card-text text-decoration-none text-dark">{{ course.description }}</p>
        <p class="card-text text-decoration-none text-dark"><strong>Ціна: {{ course.price }} грн</strong></p>
        <span class="btn btn-primary btn-lg px-4 rounded-pill fs-6">
          Детальніше
        </span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
